*:focus {
    outline: none;
}

li {list-style: none;}
a { text-decoration: none; }

.navTop {
    width: 100%;
    height: 60px;
    background: #1B2039;
    position: fixed;
    box-shadow: 0px 1px rgba(60, 200, 231, .3);
}

.navTopCenter {
    width: 50%;
    height: 60px;
    display: inline-flex;
    align-items: center;
    color: white;
    vertical-align: super;
}
.searchBar {
    padding-left: 6px;
    width: 70%;
    margin-left: 20%;
    display: flex;
    flex-flow: row nowrap;
    color: #737373;
    background-color: #F7F7F7;
    border-radius: 40px;
}
.searchBar input {
    padding: 7px;
    background-color: #F7F7F7;
    border: none;
    width: 80%;
}
.searchBarIcon {
    padding: 8px;
    line-height: 8px;
    color: #3BC8E7;
}


.navTopRight {
    width: 45%;
    height: 60px;
    display: inline-flex;
    color: #ffffff;
    justify-content: flex-end;
    vertical-align: super;
}
.navTopRight li {
    margin-right: 20px;
    display: inline-flex;
}
.navTopRight li button {
    border: none;
    background: transparent;
    font-size: 19px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    vertical-align: -webkit-baseline-middle;

}
.navTopRight li button .badge {
    font-size: 8px;
    padding: 5px 10px;
    margin-top: -8px;
    margin-left: 11px;
    border-radius: 2px;
    color: #fff;
    position: absolute;
    background: #3BC8E7;
}
.navTopRight li button img {
    border-radius: 100%;
    height: 25px;
    width: 25px;
    border: 2px solid white;
}

.navTopRight li button small {
    color: white;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 5px;
}

.navTopRight li button small:hover {
    text-decoration: underline;
    color: #3BC8E7;
    cursor: pointer;
}

/* DropDowns */
.dropDownMenuUser {
    width: 90%;
    display: flex;
    border: 1px solid #E9E9E9;
    margin: -2px auto;
    z-index: 1000;    
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    border-radius: 0px 0px 10px 10px;
    height: 30px;
    background-color: #F7F7F7;
}
.dropDownMenuUser li {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    margin-right: 0px;
    color: #737373;
    font-size: 20px;
    margin-left: 10px;
}
.dropDownMenuUser span:hover {
    color: #FA7500;
    text-decoration: underline;
}
.closeDropDown {
    color: red!important;
}
.closeDropDown span {
    color: red!important;
    margin-right: 25px;
    display: inline-block;
    font-size: 14px;
    color: #737373;
    margin-left: 5px;
    cursor: pointer;
}
.dropDownMenuUser span:hover {
    text-decoration: underline;
}