.navTop {
    width: 100%;
    height: 70px;
    background: #34465D;
}

.navTopLeft {
    width: 30%;
    height: 70px;
    display: inline-flex;
    align-items: center;
    color: white;
}

.iconMenu {
    font-size: 17px;
    margin-left: 20px;
}
.navTopCenter {
    width: 30%;
    height: 70px;
    display: inline-block;
    align-items: center;
    color: white;
}
.searchBar {
    padding: 6px;
    width: 100%;
    height: 70px;
    display: contents;
}
.navTopCenter input {
    padding: 6px;
    width: 80%;
    display: inline-block;
}
.searchBarIcon {
    display: inline-block;
}